
@{
    ViewBag.Title = "SearchInject";
    Layout = "~/Views/Shared/_LayoutATS.cshtml";
}
<link href="~/Assets/plugins/toastr/toastr.min.css" rel="stylesheet" />
<link href="~/Assets/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 col-12">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Information lookup </li>
                    </ol>
                </div><!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header" style="background-color:green;">
                    <h3 class="card-title"><button type="button" class="btn btn-tool"> <i class="fas fa-wine-bottle"></i></button>  Search/ Tra cứu</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" style="padding-top:0px;padding-bottom:0px;">
                    <div class="form-group">
                        <div class=" p-2" style="margin-bottom: 0;">
                            <fieldset class="scheduler-border" style="border: 1px solid #888888; padding: 0 1em 0.75em 1em; width: 100%; border-radius: 3px; -webkit-box-shadow: 0px 0px 0px 0px #ced4da;">
                                <legend class="scheduler-border" style="font-size: 15px; text-align: left; width: auto; padding: 0 10px; border-bottom: none;">
                                    Look up vaccine information / Tra cứu thông tin tiêm vaccine
                                </legend>
                                <div class="row">
                                    <form method="GET" action="@Url.Action("SearchInject", "Share")" class="col-12">
                                        <div class="row col-12">
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label>Emp No/ Mã thẻ</label>
                                                    <input type="text" class="form-control" id="emp" name="emp" placeholder="V0979820">
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label for="">&nbsp;</label>
                                                    <button type="submit" class="form-control btn btn-primary">
                                                        <i class="fas fa-search"></i>&nbsp;
                                                        Search/ Tìm kiếm
                                                    </button>
                                                </div>
                                            </div>
                                            @*<div class="col-md-2" style="display:none;" id="downloadsearch">
                                                    <div class="form-group">
                                                        <label for="">&nbsp;</label>
                                                        <button type="submit" class="form-control btn btn-success" onclick="exportTableToExcel('tbSearch', 'Excelfile')">
                                                            <i class="fas fa-cloud-download-alt"></i>&nbsp;
                                                            Download/ Tải xuống
                                                        </button>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </form>

                                </div>
                                <div style="text-align:center;align-content:center;display:none;" id="loadingsearch">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group result" id="nodata" style="display:none;">
                                    <div class="col-md-12 message-area" style="border-color:red;background-color:gainsboro;">
                                        <i class="fas fa-warning fa-bullhorn" style="color:red;"></i>&nbsp;&nbsp; <span id="message" style="color:red;"></span>
                                    </div>
                                </div>
                                <div class="row table-responsive">
                                    <table id="tbSearch" class="table table-bordered border-primary table-striped">
                                        <thead class="bg-info">
                                            <tr>
                                                <th>Emp/ Mã Thẻ</th>
                                                <th>Name/ Tên</th>
                                                <th>Mac</th>
                                                <th>IP</th>
                                                <th>Code</th>
                                                <th>Scan time/ Thời gian quẹt</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.emp_no</td>
                                                    <td>@item.emp_name</td>
                                                    <td>@item.mac</td>
                                                    <td>@item.ip</td>
                                                    <td>@item.fbdesc</td>
                                                    <td>@item.scan_out_time</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/Assets/DataTable/jquery-3.5.1.js"></script>
<script src="~/Assets/plugins/toastr/toastr.min.js"></script>
<script src="~/Assets/plugins/sweetalert2/sweetalert2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var session = '@Session["Message"]';
       
        if (session == '' || session == null) {
            $('#nodata').hide();
        } else {       
            $('#nodata').show();
            $('#message').text(session);
            toastr.error(session);
            
        }
    });

</script>
