
@{
    ViewBag.Title = "ExcelHR";
    Layout = "~/Views/Shared/_LayoutATS.cshtml";
}

<style type="text/css">
    .table {
        border: 0px;
    }

    td {
        border: 0px;
    }

    table > tbody > tr > td {
        border: 0px;
    }

    table > tfoot > tr > th > select {
        max-width: 80px;
    }

    .table td, .table th {
        vertical-align: middle;
    }

    .content-header {
        padding: 5px .5rem;
    }

    .canvasjs-chart-toolbar {
        display: none;
    }

    .button {
        background-color: #004A7F;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Arial;
        font-size: 20px;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
    }

    table thead {
        background-color: #4a5a5482;
    }

    table th, td {
        white-space: nowrap;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 col-12">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Tải lên thông tin nhân viên </li>
                    </ol>
                </div><!-- /.col -->
            </div>

    <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <script type="text/javascript">
                           alert("@ViewBag.Message");
                    </script>
                }
                <div class="card col-6">
                    <div class="card-header">
                        <h4>Tải lên thông tin nhân viên </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm("ExcelHR", "ATS", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-12" }))
                            {
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input name="file" class="form-control" type="file" placeholder="" style="padding:3px;" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <input type="submit" class="btn-default " value="Tải lên" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-footer">
                        <div> <label class="text-danger">@Session["Message"]</label></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="far fa-calendar-plus"></i> &nbsp; new owner</h3>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">
                                <i class="fas fa-user-plus"></i>&nbsp;
                                Thêm thồng tin 1 người
                            </button><br />
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <section class="col-lg-12 connectedSortable">
                    <div class="card">
                        <div class="card-header" style="background-color: #1686ff; color: white;">
                            <h3 class="card-title"> <i class="fas fa-address-book mr-1"></i>Thông tin</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class=" table-responsive">
                                @if (ViewBag.Data != null)
                                {
                                    <table class="table table-bordered  table-hover" id="table_hr" style="width:100%; border-collapse: collapse;font-family: arial; font-size:13px;">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th>Mã thẻ</th>
                                                <th>Họ tên</th>
                                                <th>Người tải lên</th>
                                                <th>thười gian tải</th>
                                                <th>IP</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.Data)
                                            {
                                                <tr>
                                                    <td style="text-align:center"><a href="#" onclick="return GetbyIDHR('@item.id')"><i class="fas fa-edit"></i></td>
                                                    <td style="text-align:center"><a href="#" onclick="DeleteHR('@item.id','@item.mathe')"><i class="far fa-trash-alt"></i></td>
                                                    <td>@item.mathe</td>
                                                    <td>@item.hoten</td>
                                                    <td>@item.nguoitailen</td>
                                                    <td>@item.thoigiantai</td>
                                                    <td>@item.ip</td>

                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th>Mã thẻ</th>
                                                <th>Họ tên</th>
                                                <th>Người tải lên</th>
                                                <th>thười gian tải</th>
                                                <th>IP</th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                }
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </section>
    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
        <i class="fas fa-chevron-up"></i>
    </a>
    @*View edit*@
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card card-blue" style="margin:0px">
                    <div class="card-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title" id="myModalLabel">Chỉnh sửa thông tin </h4>
                    </div>
                    <div class="card-body">
                        <form method="post" class="row col-12">
                            <input type="text" name="id" id="id" hidden />
                            <div class="form-group col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-inbox"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="mathe" name="mathe" id="mathe">
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-envelope"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="hoten" name="hoten" id="hoten">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer" style="align-content:center;text-align:center;">
                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="UpdateHR();">Chỉnh sửa</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/DataTable/jquery-3.5.1.js"></script>
<script src="~/Scripts/ajax/hr_ajax.js"></script>
<script src="~/Assets/DataTable/jquery.dataTables.min.js"></script>
<link href="~/Assets/DataTable/jquery.dataTables.min.css" rel="stylesheet" />

<script type="text/javascript">
        $(document).ready(function () {
            $('#table_hr').DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            const string = d;
                            const substring = "class=";
                            if (string.includes(substring) == true) {

                            } else {
                                select.append('<option value="' + d + '">' + d + '</option>');
                            }

                        });
                    });
                }
            });
        });
    </script>


